
    .x{
        height:640px;
        width: 100%;
        float: left;
        font-size: 60PX;
        color: rgb(238, 238, 241);
        text-align: center;
        padding-top: 250px;
        
    }

    .down{
        height: 300px;
        width: 100%;
        margin-top: 10px;
        background:black;
        text-align: center;
    }
